@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Lexend Deca', sans-serif;
}
:root{
    --white: #fff;
    --whitesmoke: #F9F9F9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey:#343434;
    --black:#000000;
    --blue:#1B77F3;
    --red: #cf3c3f;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px ,8%,70px);
}
.login-logo{
    width:130px;
    margin-bottom: 80px;
}
.title-login{
    color: var(--deep-grey);
    font-size:1.5em;
    margin-bottom: 30px;
}
.login-label{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.input{
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius:5px;
    outline:none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey)
}
.login-label span{
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin:20px;
    cursor:text;
    transition: all 200ms ease;
}
.input:focus{
    background-color: var(--whitesmoke);
    border:2px solid var(--deep-grey);
}
.login-label .span-active{
    font-size:0.7em;
    margin:8px 10px;
}
.login-icon{
    display: flex;
    gap:10px;
    width:100%;
    margin-top:20px;
}
.login-icon img{
    width:20px;
}
.icons-button{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}